name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

permissions: {}

jobs:
  ci:
    name: CI
    uses: silverstripe/gha-ci/.github/workflows/ci.yml@v2
    permissions:
      pull-requests: read
      contents: write
      actions: write
    with:
      phplinting: false
      js: false
      simple_matrix: true